

@media (max-width: 768px) {
    .container{
      height:40vh;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        position: relative;
        
      }
    
      .nav-links {
        text-align: center;
        display: none;
      }
    
      .nav-links.open {
        display: block;
      }
      .hamburger-menu-label {
        display: block;
        
      }
      
  .header {
    text-align: center;
  }
  .header span {
    margin-top: -2rem;
    font-size: 60px;
    line-height: 50px;
  }

  /* vertical lines  right side*/

  .Vl-4 {
    left: 26.9rem;
  }
  .Vl-5 {
    left: 26.2rem;
  }
  .Vl-6 {
    left: 25.7rem;
  }
  .header-desc {
    top: 7rem;
    margin-left: 3.2rem;
    margin-right: 2rem;
    text-align: center;
    letter-spacing: 3px;
    line-height: 28px;
  }
  
  .HomeImg img {
    height:380px;
    right:1.8rem;
  }
  /* welcome page */
  .welcome{
    height:160vh;
    z-index: 0;
  }
 /* videos */
 .videos{

  top:79rem;
  right:3rem;
 }
 .videos video{
  width:400px;
  height:600px
 }
  #wlcText {
    font-size: 45px;
    top:6rem;
    margin-left: 4rem;
    font-weight: 400;
    letter-spacing: 3px;
  }
  #HotelText {
      margin-top: 10rem;
  margin-left: 3rem;
  font-weight: 800;
  position: absolute;
  top:-1rem;
  right: 6.5rem;
  font-size: 45px;
  z-index: 100;
   
  }
  /* .wlcImg {
    top: 3rem;
  } */
  .wlcImg img {
    position: relative;
    height: 425px;
    right: 45.2rem;
    bottom:8rem;
    width:auto;
  }
  .VL-8,
  .VL-7 {
    display: none;
  }
/* welcome description */

 #intro {
    top: 67rem;
    right: 0rem;
    margin-left: 1.6rem;
    margin-right: 1rem;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 25px;
  
  }
 
  /* footer */
  .social-media-icons {
    margin-top: 1rem;
    margin-left:25rem;
    left:-22rem;
    top:0.5rem;
   
  }
  
  .social-media-icons i {
    font-size: 25px;
    padding-right: 4rem;
    
  
  }
  .contact-information {
    margin-top:2rem;
  }
  /* about us page Responsiveness */
  .aboutDesc .AbtIntro{
    top: 19rem;
    margin-left: 2.5rem;
    margin-right: 1.5rem;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 29px;
  }
  #aboutText {
    top: 7rem;
    margin-left: 5.5rem;
    margin-top: 4rem;
    font-size: 50px;
    font-weight: 400;

    letter-spacing: 1px;
  }
  #AbtText {
    top: 9.5rem;
    margin-top: 4.8rem;
    margin-left: 8.9rem;
    font-weight: 1000;
    font-size: 50px;
    letter-spacing: 3px;
  }
  .aboutImg img{
    top: 2.5rem;
    height: 200px;
    width:100%;
   
  }
  .OurTeam{
    top:64rem;
  }
  .cards{
    top:50rem;
    height:90vh;
  }
  .card1 {
    left: 67px;
    top:14rem;
    
  }
  .card2 {
    left: 67px;
    top:19.4rem;
    
  }
  .card3 {
    left: 67px;
    top:26rem;
    
  }
  .card4 {
    left: 67px;
    top:34rem;
    
  }
  #abtFooter{
    position: relative;
    top:40rem;
    margin-top:16rem;
  }
  #Hmfooter{
    position: relative;
    margin-top:4rem;
  }
  /* book now button */
  .cta {
    padding: 11px 33px;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    left: 12rem;
    top: 0.5rem;
    z-index: 100;
  }

  .modal {
    padding:2rem;
    margin-left:0.9rem;
    margin-top:4rem;
    max-width: 422px;

  }
  .button {
   top:0.5rem;
    left:4.5rem;
    width:10rem;
    font-size: 20px;
  }
  .description{
    padding-top:1.8rem;
  }
}
