
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
 
  --scale-factor: 0.5234567946471576;
  --main-color: #0d2241;
  --header-color: #deada1;
  
}
.container {
  background-color: var(--main-color);
  color: var(--header-color);
  
}
/*Navigation bar*/
.navbar {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--main-color);
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
 
}
.navbar > ul {
  display: flex;
  flex-direction: row;
}
.navbar > ul > li {
  padding: 2rem 1rem;
  list-style: none;
}
.navbar ul li a {
  color: var(--header-color);
  text-decoration: none;
  padding: 10px;
}
/* navbar hover effects */
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all .5s;
}
/* .navbar ul li a:hover {
  color: #555;
} */
.navbar ul li a{
  position: relative;
}
.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.navbar ul li a:hover:after {
  width: 100%;
}
/*Header(THE HOTEL)*/
.container .Header{
  position:absolute;
  top:8rem;
  left: 28rem;
  text-transform: uppercase;
  font-weight: 1000;
  font-size:100px;
  z-index: 1;
}
/* login btn */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top:1.3rem;
  left:35em;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color:rgb(24, 160, 160);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--header-color);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color:#fff;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.Btn2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top:1.3rem;
  left:35em;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color:rgb(24, 160, 160);
}
.signUp {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp svg {
  width: 17px;
}

.signUp svg path {
  fill: var(--header-color);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color:#fff;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn2:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn2:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn2:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn2:active {
  transform: translate(2px ,2px);
}
.Btn2{
  margin:0 0 0 1rem;
}